vti_encoding:SR|utf8-nl
vti_author:SR|vijaysaki-VAIO\\vijaysaki
vti_modifiedby:SR|vijaysaki-VAIO\\vijaysaki
vti_timelastmodified:TR|10 Oct 2013 03:53:32 -0000
vti_timecreated:TR|10 Oct 2013 03:53:32 -0000
vti_cacheddtm:TX|10 Oct 2013 03:53:32 -0000
vti_filesize:IR|1705
vti_cachedlinkinfo:VX|S|../icons/background_silver.jpg S|../icons/background_silver.jpg
vti_cachedsvcrellinks:VX|FSUS|admin/icons/background_silver.jpg FSUS|admin/icons/background_silver.jpg
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|admin/popups/create_table.html
