.AdminTitle {
	font-family: "century Gothic";
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}

.rounded {
	border: 0px;
	border-radius: 1ex;
	-webkit-border-radius: 1ex;
	-moz-border-radius: 1ex;
}
.LeftLink {
	font-family: verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	color: #ffffff;
}
h2{
font-family: "century Gothic";
color:black;
}
.ContentText{
	font-family: verdana, Geneva, Tahoma, sans-serif;
	font-size: 10px;
	color: #000000;
}
a{
	font-family: verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration:none;
}

.LeftActiveLinks{
	font-family: verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	color: #ffffff;
	}
.SubmitButton{
    background:url(images/submit-button.png) no-repeat;
    cursor:pointer;
    width: 76px;
    height: 33px;
    border: none;
}

.LeftLink{

font-family: Verdana; font-size: 10pt; color: #FFFFFF; text-decoration: none}